header{
width:100%;
height:50px;
display:flex;
justify-content:space-between;
align-items:center;
top:0;
}
nav{
    width:50%;
    max-width:300px;
    height:50px;
}
nav > ul{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    height:100%;
    font-size:18px;
    margin-block: 0;
}
#logo{
    width:max(100px,18vw);
    padding:0.4rem;
    width:60px;
}
nav > ul > li{
    margin:0 0.2rem;
    padding:0.2rem;
    display:block; }
*{
    padding:0%;
    margin:0%;
box-sizing: border-box;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header,.top-page,.foodpics,.quote-section,.cta,.footer{
    border:1px solid black;
    display:flex;
    flex-wrap: wrap;
}
.footer,header,.top-page{
background-color:green;
color:white;
}
.top-page,.foodpics,.quote-section,.cta,.footer{
    justify-content: center;
    width:100%;
}
.top-page{
    display:flex;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
}
.top-text{
    padding-left: 300px;
}
.top-pic{
    width:200px;
    float:left;
    padding-right: 40px;
}
h2{
font-size:48px;
font-weight:900;
color:#e5e7eb;
}
.secondary-text{
font-size:18px;
color:white;
width:450px;
}
.button1{
    background-color: #3882f6;
    color:white;
    padding:6px 35px;
    border:none;
    border-radius:8px;
    font-weight:700;
    font-size:18px;
}
.foodpics{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 500px;
}
.info-gallery{
    display:flex;
    gap:40px;
    flex-wrap: wrap;
    align-items: center;
    flex:1;
}
.photo{
    width:300px;
    border-radius: 10px;
}
.img{
    width:300px;
}
h3{
    font-size:36px;
    font-weight:900;
    padding:16px 0;
    color:#1f2937
}
.caption{
    font-size: 18px;
}
.quote{
    width:50%
}
.quote-container{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
blockquote{
    font-size: 36px;
    font-weight:100;
    color: #1f2937;
}
figcaption{
    text-align: right;
    font-weight: 700;
    font-size: 18px;
}
.cta{
min-height: 450px;
align-items: center;
}
.sign-up-container{
    background-color: #3882f6;
    height:180px;
    width:800px;
    color: white;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.button2{
    background-color: #3882f6;
    color:white;
    padding:6px 35px;
    border:none;
    border-radius:8px;
    font-weight:700;
    font-size:18px;
    border:2px solid white;
}
.footer{
    width:100%;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    top:0; 
}